body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: lightcyan;
}

header {
    text-align: center;
}

div[class=education] {
    background-color: lightgreen;
}

div[class=education] > li {
    list-style: none;
}

h4 {
    font-style: normal;
}

h4 > span {
    float: right;
}